# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.Python
env/
venv/
.venv/

# Node / Frontend
node_modules/
dist/
build/
.cache/

# Variáveis de ambiente
.env
.env.local
*.env

# Docker
*.log

# Banco de dados / volumes locais
db/data/
*.sqlite3
pgdata/

# IDE / SO
.vscode/
.idea/
.DS_Store
Thumbs.db
