# Banco de dados (PostgreSQL)
POSTGRES_USER=painel_user
POSTGRES_PASSWORD=troque_esta_senha
POSTGRES_DB=servidores_federais
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Backend (Flask)
FLASK_ENV=development
FLASK_APP=app.py
SECRET_KEY=troque_esta_chave

# Frontend
VITE_API_URL=http://localhost:5000
